<%= form_for(recipe) do |f| %>
  <% if recipe.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(recipe.errors.count, "error") %> prohibited this recipe from being saved:</h2>

      <ul>
      <% recipe.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>

  <div class="field">
    <%= f.label :image %>
    <%= f.file_field :image %>
  </div>

  <div id="ingredients">
    <%= f.fields_for :ingredients do |ingredient| %>
      <%= render 'ingredient_fields', f:ingredient %>
    <% end %>
  </div>

  <div id="directions">
    <%= f.fields_for :directions do |direction| %>
      <%= render 'direction_fields', f:direction %>
    <% end %>
  </div>

  <div class="actions">
    <%= f.submit %>
    <%= link_to_add_association 'Add ingredient', f, :ingredients, class: 'btn btn-primary', data:{association_insertion_node: '#ingredients', association_insertion_method: :append} %>
    <%= link_to_add_association 'Add directions', f, :directions, class: 'btn btn-primary', data:{association_insertion_node: '#directions', association_insertion_method: :append} %>
  </div>
<% end %>
