<div class="nested-fields">
  <div class="row">
    <div class="fields form-group col-5">
      <%= f.label :name %>
      <br/>
      <%= f.text_field :name, class: "form-control" %>
    </div>
    <div class="fields form-group col-5">
      <%= f.label :amount %>
      <br/>
      <%= f.text_field :amount, class: "form-control" %>
    </div>
    <div class="col-2" style="padding-top:35px;">
      <%= link_to_remove_association "X", f, class: "sm-submit" %>
    </div>
  </div>
</div>
