<div class="card">
  <img class="card-img-top img-fluid" src="<%= recipe.image %>" alt="Card image cap">
  <div class="card-block">
    <h4 class="card-title"><%= link_to truncate(recipe.title, length:32), recipe %></h4>
    <p class="card-text">
      <%= truncate(recipe.description, length:100) %>
    </p>
    <div style="margin-top:-8px; margin-left:-6px; line-height:33px;">
      <% (1..recipe.tags.size).each do |i|%>
      <span id="tag"><%= recipe.tags[i-1].name %></span>
      <% end %>
      <%= link_to like_recipe_path(recipe), method: :put, class:"sm-like" do %>
        <strong>
          <i class="fa fa-heart" aria-hidden="true"></i>
          <%= recipe.get_upvotes.size %>
        </strong>
      <% end %>
    </div>
  </div>
</div>
