<% provide(:page_title, @recipe.title) %>
<% if @recipe.user == current_user %>
  <% provide(:mine_active, "active") %>
<% else %>
  <% provide(:browse_active, "active") %>
<% end %>

<p id="notice"><%= notice %></p>

<div class="row" style="margin-top:15px;">
  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 text-left">
    <img src="<%= @recipe.image %>" style="max-width:100%"/>
  </div>
  <div class="col-lg-8 col-md-8 col-sm-4 col-xs-12">
    <p>
      <h2><strong><%= @recipe.title %></strong></h2>
    </p>
    <% if @recipe.user != current_user %>
    <p>
      <% user = @recipe.user %>
      <div class="row">
        <div class="col-1">
          <div class="round-image-50">
            <%= link_to usershow_path(user) do %>
            <%= image_tag(user.avatar.url) %>
            <% end %>
          </div>
        </div>
        <div class="col-4">
          <div style="font-size:18px;padding-top:10px;">
            <%= link_to usershow_path(user) do %>
            Created by <i><%= user.name %></i>
            <% end %>
          </div>
        </div>
      </div>
    </p>
    <% end %>
    <p>
      <%= @recipe.description %>
    </p>
    <p>
      <% @recipe.tags.each do |tag| %>
      <span id="tag"><%= tag.name %></span>
      <% end %>
    </p>
  </div>
</div>

<div class="row" style="margin-top:15px;">
  <div class="col-lg-4 col-md-4 col-sm-12 col-sm-12">
      <div id="subtitle"><strong>Ingredients:</strong></div>
      <div style="padding:5px;"> </div>
      <% @recipe.ingredients.each do |ingredient| %>
        <div class="row">
          <div class="col-6 text-right" style="font-size:18px;">
            <%= ingredient.name %>
          </div>
          <div class="col-5" style="padding-top:1px;">
            <strong><%= ingredient.amount %></strong>
          </div>
        </div>
      <% end %>
    <div class="btn-group" role="group" aria-label="Basic example" style="margin-top:20px;">
      <% if @recipe.user == current_user %>
        <%= link_to recipe_path, method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-secondary" do%>
          <i class="fa fa-trash-o" aria-hidden="true"></i>
          delete
        <% end %>
        <%= link_to edit_recipe_path(@recipe), class: "btn btn-secondary" do%>
          <i class="fa fa-pencil" aria-hidden="true"></i>
          edit
        <% end %>
      <% elsif user_signed_in? %>
        <%= link_to fork_path, class: 'btn btn-secondary' do %>
          <i class="fa fa-clone" aria-hidden="true"></i>
          fork
        <% end %>
      <% end %>
        <%= link_to recipes_path, class: 'btn btn-secondary' do %>
          <i class="fa fa-chevron-left" aria-hidden="true"></i>
          back
        <% end %>
    </div>
  </div>

  <div class="col-lg-8 col-md-8 col-sm-12 col-sm-12">
    <p>
      <span id="subtitle"><strong>Directions:</strong></span>
      <% (1..@recipe.directions.count).each do |i| %>
        <div class="row" style="padding-bottom:15px;">
          <div class="col-1">
            <span id="step"><strong><%= i %></strong></span>
          </div>
          <div class="col-10" style="font-size:17px;">
            <%= @recipe.directions[i-1].step %>
          </div>
        </div>
      <% end %>
    </p>
  </div>
</div>
