<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @recipe.title %>
</p>

<p>
  <strong>Image:</strong>
  <img src="<%= @recipe.image %>" style="max-width:400px;"/>
</p>

<p>
  <strong>Description:</strong>
  <%= @recipe.description %>
</p>

<p>
  <strong>User:</strong>
  <%= @recipe.user_id %>
</p>

<p>
  <strong>ingredients:</strong>
  <% @recipe.ingredients.each do |ingredient| %>
    <%= ingredient.name %>
  <% end %>
</p>

<p>
  <strong>directions:</strong>
  <% @recipe.directions.each do |direction| %>
    <%= direction.step %>
  <% end %>
</p>


<%= link_to 'Edit', edit_recipe_path(@recipe) %> |
<%= link_to 'Back', recipes_path %>
