<% provide(:page_title, "Browse") %>
<% provide(:browse_active, "active") %>
<div class="row" style="margin-top:40px;">
  <div class="col-3">
    <div style="background-color:rgba(255,92,0,0.1); padding:20px; border-radius:10px;">
      <div style="text-align:center;">
        <img src="<%= @user.avatar %>" style="width:100%; border-radius:4%;">
      </div>
      <div style="margin-top:15px;">
        <span style="font-size:30px;"><%= @user.name %></span>
      </div>
      <div style="margin-bottom:20px;">
        <span style="font-size:15px;"><i><%= @user.detail %></i></span>
      </div>
      <div class="row">
        <div class="col-6">
          <h6> Followers: <%= @user.followers.count %> </h6>
          <h6> Following: <%= @user.following.count %> </h6>
        </div>
        <div class="col-6">
          <%= render partial:"follow_button" %>
        </div>
      </div>
    </div>
  </div>
  <div class="col-9" style="background-color:rgba(0,92,0,0.1); padding:20px; border-radius:10px;">
    <div style="margin-bottom:20px;">
      <span style="font-size:20px;"><%= @recipes.size %> Recipes</span>
    </div>
    <div class="card-columns-2">
      <% @recipes.each do |recipe| %>
        <%= render recipe %>
      <% end %>
    </div>
  </div>
</div>
