<div class="row title" style="padding:20px;">
  <div class="col-12">
    <h1>Log In</h1>
  </div>
</div>

<div class="row justify-content-center">
  <div class="col-8">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field form-group">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, class:"form-control" %>
      </div>

      <div class="field form-group">
        <%= f.label :password %><br />
        <%= f.password_field :password, autocomplete: "off", class:"form-control" %>
      </div>

      <% if devise_mapping.rememberable? -%>
        <div class="field form-group">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end -%>

      <div class="actions">
        <%= f.submit "Log in", class:"sm-submit" %>
      </div>
    <% end %>
    <div style="margin-top:20px; color:#FF5C00;">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
