<nav class="navbar navbar-light navbar-toggleable-sm bg-faded justify-content-center">
  <div class="container">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#collapsingNavbar3">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a href="/" class="navbar-brand d-flex w-50 mr-auto">
      <%= image_tag('logo.png') %>
    </a>
    <div class="navbar-collapse collapse" id="collapsingNavbar3">
      <% if user_signed_in? %>
        <ul class="nav navbar-nav ml-auto w-100 justify-content-end">
          <li class="nav-item">
            <%= link_to 'Mine', mine_path, class: "nav-link #{yield(:mine_active)}" %>
          </li>
          <li class="nav-item">
            <%= link_to 'Browse', root_path, class: "nav-link #{yield(:browse_active)}" %>
          </li>
          <li class="nav-item">
            <%= link_to 'Create', new_recipe_path, class: "nav-link #{yield(:create_active)}" %>
          </li>
          <li class="nav-item">
            <%= link_to 'Sign out', destroy_user_session_path, :method => :delete, class: "nav-link" %>
          </li>
        </ul>
      <% else %>
        <ul class="nav navbar-nav ml-auto w-100 justify-content-end">
          <li class="nav-item">
            <%= link_to 'Browse', root_path, class: "nav-link #{yield(:browse_active)}" %>
          </li>
          <li class="nav-item">
            <%= link_to 'Sign in', new_user_session_path, class: "nav-link #{yield(:asession_active)}" %>
          </li>
          <li class="nav-item">
            <%= link_to 'Sign up', new_user_registration_path, class: "nav-link #{yield(:asign_active)}" %>
          </li>
        </ul>
      <% end %>
    </div>
  </div>
</nav>
